*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    background-color:#C0C86D;
    cursor:url(./images/cursor.png),default;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.container{
    background-image: url(./images/background.png);
    /* background-size:cover;
    background-position: center; */
    height:1080px;
    width:1920px;
    
    border:2px solid blue;
    padding:1rem;

    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center; 
    

}
.hole{
    width:276px;
    height:276px;
    border-radius:50%;
    background-color:black;
    /* margin:0 2rem; */
    /* text-align:center; */
    
}
.hole-container{
    width:25%;
    display:flex;
    justify-content:center;
    align-items:center; 
    
}
.hole img{
    position:relative;
    right:30px;
    overflow:visible;
}
.hungry{
    cursor:url(./images/cursor-worm.png),default;
}
.gone{
    display:none
}
.hide{
    display:none;
}
